<style>
.panel{
  margin-top: 10px
}
</style>
<div class="col-md-12">

  <% @users.each do |user| %>
  <center>
    <div id=pics, class="transitions-enabled">
      <div class="panel panel-info ">

        <div class="panel-heading">
          <a href="<%= user_path(user) %>"> <h3><%= user.username %></h2></a>
            <h5><%= user.designation %></h5>
            <h6><%= user.Sbu %></h6>
          </div>

          <div class="panel-body">
            <li class="list-group-item">
              <h5>    Email : <%= user.email %></h5>
            </li>
            <li class="list-group-item">
              <h5>  Mobile : +91- <%= user.mobileno %></h5>
            </li>

            <hr>

            <% if(user.isadmin == true) %>
            <span class="badge">Adminstrator</span>
            <% end %>

            <% if(user.ismanagement == true) %>
            <span class="badge">Management</span>
            <% end %>

            <% if(user.is_project_manager == true) %>
            <span class="badge">Project Manager</span>
            <% end %>

            <% if(user.is_project_lead == true) %>
            <span class="badge">Project Lead</span>
            <% end %>

          </div>

          <div class="panel-footer panel-primary">

            <% if (user.approved== true)%>
            Activated (<%= link_to 'Edit',   edit_user_path(user) %>)
            <% else %>
            Not Activated (<%= link_to 'Edit',   edit_user_path(user) %>)
            <% end %>
          </div>

        </div>
      </div>
    </center>
    <% end %>

  </div>


  <ul class="apple_pagination">
    <%= will_paginate @users , :container => false %>
  </ul>
